<h5><%= @customers.last_name %><%= @customers.first_name %>さんの会員詳細</h5>

<div class="container">
  <div class="row">
    <div class="col-lg-2">会員ID</div>
    <div class="col-lg-7"><%= @customers.id %></div>
    <div class="col-lg-3"></div>
  </div>

   <div class="row">
    <div class="col-lg-2">氏名</div>
    <div class="col-lg-7"><%= @customers.last_name %><%= @customers.first_name %></div>
    <div class="col-lg-3"></div>
  </div>

  <div class="row">
    <div class="col-lg-2">フリガナ</div>
    <div class="col-lg-7"><%= @customers.last_name_kana %><%= @customers.first_name_kana %></div>
    <div class="col-lg-3"></div>
  </div>

  <div class="row">
    <div class="col-lg-2">郵便番号</div>
    <div class="col-lg-7"><%= @customers.postal_code %></div>
    <div class="col-lg-3"></div>
  </div>

  <div class="row">
    <div class="col-lg-2">住所</div>
    <div class="col-lg-7"><%= @customers.address %></div>
    <div class="col-lg-3"></div>
  </div>

  <div class="row">
    <div class="col-lg-2">電話番号</div>
    <div class="col-lg-7"><%= @customers.telephone_number %></div>
    <div class="col-lg-3"></div>
  </div>

  <div class="row">
    <div class="col-lg-2">メールアドレス</div>
    <div class="col-lg-7"><%= @customers.email %></div>
    <div class="col-lg-3"></div>
  </div>

  <div class="row">
    <div class="col-lg-2">会員ステータス</div>
    <div class="col-lg-7"></div>
    <div class="col-lg-3"></div>
  </div>


  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-7"><%= link_to "編集する",edit_admin_customer_path(@customers.id),class: "btn btn-success" %></div>
    <div class="col-lg-3"></div>
  </div>
  
   
</div>
