<h1>ジャンル一覧・追加</h1>
<%= form_with model: @genre,url: admin_genres_path do |f| %>
<!--新規投稿-->
<table>
    <tr>ジャンル名</tr>
    <tr><%= f.text_field :name %></tr>
    <tr><%= f.submit '新規登録' %></tr>
</table>
<% end %>

<!--ジャンル一覧-->
<h4>ジャンル</h4>
<% @genres.each do |genre| %>
<table>
<tr>
    <th><%= genre.name %></th>
    <th><%= link_to "編集する",edit_admin_genre_path(genre) %></th>
</tr>
</table>
<% end %>