<h5>ショッピングカート</h5>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>商品名</th>
    <th>単価（税込み）</th>
    <th>数量</th>
    <th>小計</th>
    <th></th>
  </tr>
  </thead>

  <tbody>

      <% @cart_items.each do |cart_item| %>
       <tr>
          <td><%= cart_item.item.name %></td>
          <td><%= cart_item.item.add_tax_price %></td>

          <%= form_with model: cart_item,url:public_cart_item_path(cart_item.id),method: :patch do |f| %>
          <td><%= f.select :amount, *[1..10] %><%= f.submit '変更' %></td>
          <td><%= cart_item.item.add_tax_price* cart_item.amount %></td>
          <td><% cart_item.item.add_tax_price* cart_item.amount %></td>
          <td><%= link_to "削除する", public_cart_items_path(cart_item.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
        </tr>
          <% end %>
      <% end %>
  </tbody>
</table>
    <%= link_to "買い物を続ける",public_homes_top_path,class: 'btn btn-success'  %>
    <table class="table table-bordered">
      <tr>
        <th>合計金額</th>
        <td> ¥<%= @total.round.to_s(:delimited)%></td>
      </tr>
    </table>