<h1>注文一覧</h1>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>注文日</th>
    <th>配送先</th>
    <th>注文商品</th>
    <th>支払い金額</th>
    <th>ステータス</th>
    <th>注文詳細</th>
  </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <!--注文日-->
      <td><%= order.created_at.to_s(:datetime_jp) %></td>
      <td><%= order.address %></td>

   <% order.order_details.each do |order_detail| %>
      <!--注文商品名-->
      <td><%= order_detail.item.name %></td>
      <!--支払い金額-->
      <td><%= order_detail.price %></td>
      <!--ステータス-->
      <td></td>
      <!--詳細画面に飛ぶ-->
      <td><%= link_to "表示する",order_path(order.id) %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>




