  <div class="container">
    <div class="row">
      <div class="col-lg_4">
        <h2>ログイン</h2>
      </div>
      <div class="col-lg-8"></div>
    </div>

      <div class="row">
      <div class="col-lg-5">
      <h5>会員の方はこちらからログイン</h5>
      </div>
      <div class="col-lg-7"></div>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row">
        <div class=col-lg-4>
          <%= f.label :"メールアドレス" %>
        </div>

        <div class="col-lg-8">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-100" %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <%= f.label "パスワード" %>
        </div>
        <div class="col-lg-8">
          <%= f.password_field :password, autocomplete: "current-password", class: "w-100" %>
        </div>
      </div>

          <div class="row">
            <div class="col-lg-4"></div>

            <div class="col-lg-8">
            <%= f.submit "ログイン" %>
            </div>
          </div>
        <% end %>


        <h2>会員登録がお済みでない方</h2>
        <p><%= link_to "こちら",new_customer_registration_path %>から新規登録を行なってください。</p>
   </div>